<nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="/" title="Click here to go back to home page">X Store</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <div class="nav navbar-nav">
        {% block centreNav %}
        <!--<a class="nav-link" href="products.html" id="products">View Products</a>-->
        {% endblock %}
      </div>
      <div class="nav navbar-nav ml-auto">
        {% block rightNav %}
        <!--<a class="nav-link" href="login">Log in</a>-->
        {% endblock %}
      </div>
    </div>
</nav>
