<nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">

  <a class="navbar-brand" href="/" title="Click here to go back to home page">X Store</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <div class="nav navbar-nav ml-auto">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
