<nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
  <a class="navbar-brand" href="/" title="Click here to go back to home page">X Store</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="mobile_icon()">
    <i class="navbar-toggler-icon" style="width:30px; height:30px;"></i>
    <div id="circle" class="circle"></div>
  </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <div class="nav navbar-nav">
        {% block centreNav %}
        {% endblock %}
      </div>
      <div class="nav navbar-nav ml-auto">
        {% block rightNav %}
        {% endblock %}
      </div>
    </div>
</nav>
