<nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
  <!-- brand/logo -->
  <a class="navbar-brand" href="/staff" title="Click here to go back to home page">IMS</a>

  <!-- button is for responsive in mobile -->
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="mobile_icon()">
    <i class="navbar-toggler-icon" style="width:30px; height:30px;"></i>
    <div id="circle" class="circle"></div>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div>
      <!-- links -->
      <ul class="nav navbar-nav">
        <!-- dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Reports
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/staff">View Reports</a>
            <a class="dropdown-item" href="/staff/create-report">Generate Reports</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Admin Management
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/staff/orders">View Pending Orders</a>
            <a class="dropdown-item" href="/staff/create" id="profile">Create staff account</a>
            <a class="dropdown-item" href="/staff/accounts" id="profile">View Accounts</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            FAQ
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/faq/ask">Ask a question</a>
            <a class="dropdown-item" href="/staff/faq">View questions</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="nav navbar-nav ml-auto">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/userEdit">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
