<nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="index.html" title="Click here to go back to home page">IMS</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <div class="nav navbar-nav">
        <a class="nav-link" href="retrieveProduct.html" id="products">My Products</a>
        <a class="nav-link" href="#" id="orderhistory">List a Product</a>
      </div>
      <div class="nav navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Contact us!
        </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/faq/ask">Ask a question</a>
            <a class="dropdown-item" href="/faq">View your questions</a>
            <a class="dropdown-item" href="/faqType">FAQ</a>
          </div>
      </li>
      </div>
      <div class="nav navbar-nav">
        <a class="nav-link" href="profile.html" id="profile">View Profile</a>
      </div>
    </div>
</nav>
