<nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="/buyer/index" title="Click here to go back to home page">IMS</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <div class="nav navbar-nav">
        <a class="nav-link" href="/buyer/product" id="products">View Products</a>
        <a class="nav-link" href="/buyer/retrieve" id="orderhistory">View Past Orders</a>
        <a class="nav-link" href="/buyer/cart" id="ordercart">View Cart</a>
      </div>
      <div class="nav navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        FAQ
        </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/faq/ask">Ask a question</a>
            <a class="dropdown-item" href="/faq">View questions</a>
          </div>
      </li>
      </div>
      <div class="nav navbar-nav">
        <a class="nav-link" href="/userEdit" id="profile">View Profile</a>
      </div>
    </div>
</nav>
