{% extends "base.html" %}
{% block title %} Welcome - X Store {% endblock %}
{% block navbar %}
{% include "includes/_navbarBuyer.html" %}
{% endblock %}
{% block content %}
<form class="" action="index.html" method="post">
  <div class="row text-center">
    <div class="col-sm-6">
      <br>
      <h2>Checkout Page</h2>
      <br>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Oculus Rift S</td>
          <td>1</td>
          <td>$650</td>
        </tr>
      <div class="row">
        <label for="name">Full Name</label>
        <input class="form-control" type="text" name="" value="" id="name" enabled>
      </div>

      <div class="row">
        <label for="name">Card Number</label>
        <input class="form-control" type="text" name="" value="" id="card" min="1">
      </div>

      <div class="row">
        <label for="name">CVV</label>
        <input  class="form-control" type="text" name="" value="" id="CVV" min="1">
      </div>

    </div>


    <div class="col-sm-6" >
    </div>

    <div class="col-sm-6 row space" >
      <label>Shipping Address:</label>
      <textarea  class="form-control" rows="4" cols="50"></textarea>
      <!--end of input-->
    </div>

    <div class="col-sm-6" >
    </div>

    <div class="col-sm-6 row space" >
      <input class="btn btn-primary" type="submit"  value="Purchase">
    </div>



  </div>

  {% endblock %}
