{% extends "base.html" %}
{% block title %} Welcome - X Store {% endblock %}
{% block navbar %}
{% include "includes/_navbarBuyer.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid content">
      <div class="row justify-content-center">
        <div class="row-sm-6">
          <p class="text-center">Welcome, Buyer!</p>
          <p class="text-center">These are your previous buy orders!</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-2 justify-content-center">
          <img src='..\assets\oculus.jpeg'class="img"width="200px" height="auto"></img>
          <p class="text-center">Oculus Rift VR Headset</p>
          <p class="text-center">Price: $650</p>
          <img src='..\assets\ps4pro.jpg'class="img" width="200px" height="auto"></img>
          <p class="text-center">PS4 Pro</p>
          <p class="text-center">Price: $540</p>
          <img src='..\assets\galaxy fold black.jpg'class="img " width="200px" height="auto"></img>
          <p class="text-center">Samsung Galaxy Fold</p>
          <p class="text-center">Price:$3000</p>

      </div>
    </div>
  </div>
{% endblock %}
