{% extends "base.html" %}
{% block title %} X-Store | Worry Less, Buy More {% endblock %}
{% block navbar %}
{% include "includes/_navbarBuyer.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid content">
      <div id="popular">
          <div class="row justify-content-center">
            <div class="col-sm-12">
              <h4>Newest Products</h4>
            </div>
          </div>
          <div  id="newest" class="row justify-content-center">
            {% for product in productsList %}
              <div class="col-sm-3">
                <div class="img-container text-center">
                  <a href="/buyer/product/{{ product[1] }}">
                    <img class="" style="border: 1px solid black; height: 200px; width: 200px; margin: auto;" src= "{{ product[0].get_productPicture() }}" alt="">
                  </a>
                  <p>{{ product[0].get_productName() }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
          {% if not productsList %}
            <div class="row justify-content-center">
              <div class="col-sm-6">
                <p class="text-center">There are currently no products being sold.</p>
              </div>
            </div>
          {% endif %}
      </div>
    </div>
{% endblock %}
