{% extends "base.html" %}
{% block title %} Welcome - X Store {% endblock %}
{% block navbar %}
{% include "includes/_navbarBuyer.html" %}
{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}

  <div class="row">
    <div class="col-sm-8">
      <form class="form" method="POST">
        {{ form.query.label(style='float:left;font-size:1.1em;margin-right:10px;') }}
        {{ form.query(class="form-control",style='max-width:500px;float:left;')|safe }}
        {% if form.query.errors %}
            {% for error in form.query.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <button type="submit" name="button" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>

  {% for product in productsList %}
  <br>
  <div class="row">
    <div class="col-sm-4">
      <img class="img-fluid" style="border: 1px solid black; height: 250px; width: 250px" src= "{{ product.get_productPicture() }}" alt="">
    </div>

    <div class="col-sm-6">
      <h3><b>{{ product.get_productName() }}</b></h3>
      <p>Price: ${{ product.get_productPrice() }}</p>
      {% if product.get_productCondition() == "N" %}
        <p>Product Condition: New</p>
      {% elif product.get_productCondition() == "U" %}
        <p>Product Condition: Used</p>
      {% endif %}
      <p>Quantity: {{ product.get_productQuantity() }}</p>
      <p>Description: {{ product.get_productDescription() }}</p>
    </div>

    <div class="col-sm-2" style="margin:auto">
      <a href="/buyer/cart" class="btn button btn-primary" >Buy this product!</a>
    </div>
  </div>

  {% endfor %}
{% endblock %}
