{% extends "base.html" %}
{% block title %} Ask a Question {% endblock %}
{% block navbar %}
	{% if usertype == "Buyer" %}
		{% include "includes/_navbarBuyer.html" %}
	{% elif usertype == "Seller" %}
		{% include "includes/_navbarSeller.html" %}
	{% else %}
		{% include "includes/_navbarStaff.html" %}
	{% endif %}
{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}

<h2>Your Questions</h2>
<div class="container-fluid content">
  <div id="table" style="display:block" align = "center">
    <br>
    <div id="faqs">
      <table class="table table-striped justify-content-centre text-center">
        <tbody>
        {% for faq in faqList %}
          <tr>
          {% if usertype != "Staff" %}
        	{% if faq.getUID() == UserID %}
            <td> Question:{{ faq.getQn() }}</td></tr><tr>
            <td>Answer: {{ faq.getAns() }}</td>
          </tr>
						{% endif %}
          {% else %}
          <td> Question:{{ faq.getQn() }}</td><td>Type: {{ faq.getType() }}</td></tr><tr>
          <td>Answer: {{ faq.getAns() }}</td><td><a href="/answerFAQ/{{faq.getTID()}}" class="btn btn-warning">Update Answer</a>
        </tr>
          {% endif %}

        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
