{% extends "base.html" %}
{% block title %} FAQ {% endblock %}

{% block navbar %}
{% include "includes/_navbarBuyer.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-6">
    <form id="faqs" method="post" class="form" action="">
      <div class="form-group">
        <label for="question"> question: </label>
        <input type="text" class="form-control" id="questions">
      </div>
      <button type="submit" class="btn btn-primary">Ask question</button>
        </form>
  </div>
</div>

<h2>FAQs</h2>
<div class="container-fluid content">
  <div class="row justify-content-center">
  </div>
  <div id="table" style="display:block" align = "center">
    <br>
    <div id="faqs">
      <table class="table table-striped">
        <tbody id="faqSell">
        {% for faq in ticket %}
          <tr>
            <td id="date"> Question:{{ faq.get_question }}</td></tr><tr>
            <td>Answer: {{ faq.get_answer }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
