{% extends "base.html" %}
{% block title %} Ask a Question {% endblock %}
{% block navbar %}
	{% if usertype == "Buyer" %}
		{% include "includes/_navbarBuyer.html" %}
	{% elif usertype == "Seller" %}
		{% include "includes/_navbarSeller.html" %}
	{% else %}
		{% include "includes/_navbarStaff.html" %}
	{% endif %}
{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}

<div class="container-fluid content">
  <div class="row justify-content-center">
		<h2>FAQs</h2>
  </div>
  <div id="table" style="display:block" align = "center">
    <br>
    <div id="faqs">
      <table class="table table-striped">
				<thead>
					<tr>
						<th>Type:</th>
						<th>Question:</th>
						<th>Answer:</th>
						<th>Update</th>
					</tr>
				</thead>
        <tbody>
        {% for faq in faqList %}
          <tr>
						<td>{{ faq.getType() }}</td>
            <td>{{ faq.getQn() }}</td>
						<td>{{ faq.getAns() }}</td>
						<td><button class="btn btn-warning" type="button" name="button" onclick="location.href='/answerFAQ/{{faq.getTID()}}'">Update Answer</button></td>
					</tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
