{% extends "base.html" %}
{% block title %} Ask a Question {% endblock %}
{% block navbar %}
	{% if usertype == "Buyer" %}
		{% include "includes/_navbarBuyer.html" %}
	{% elif usertype == "Seller" %}
		{% include "includes/_navbarSeller.html" %}
	{% else %}
		{% include "includes/_navbarStaff.html" %}
	{% endif %}
{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}

<div class="container-fluid content">
  <div id="table" style="display:block" align = "center">
		<h3>FAQs</h3>
    <br>
    <div id="faqs">
      <table class="table table-striped justify-content-centre text-center">
				<thead>
					{% if usertype == "Staff"%}
						<th>Type</th>
					{% endif %}
					<th>Question</th>
					<th>Answer</th>
				</thead>
        <tbody>
        {% for faq in faqList %}
					{% if usertype != "Staff"%}
						{% if usertype == faq.getType() %}
		          <tr>
		            <td>{{ faq.getQn() }}</td>
								<td>{{ faq.getAns() }}</td>
							</tr>
						{% endif %}
					{% else %}
						<tr>
							<td>{{ faq.getType() }}</td>
							<td>{{ faq.getQn() }}</td>
							<td>{{ faq.getAns() }}</td>
						</tr>
					{% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
