<meta http-equiv="refresh" content="3; url='/'" />
{% extends "base.html" %}
{% block title %} Thank you - X Store {% endblock %}
{% block navbar %}
	{% include "includes/_navbar.html" %}
{% endblock %}
{% block content %}

	      <div class="row justify-content-center">
	        <div class="col-sm-12 text-center">
	         	<h3>Thank you for shopping at X Store!</h3>
						<br>
						<p>You will be redirected in 3 seconds to the home page.</p>
						<p>Press <a href="/">here</a> if you are not redirected after 3 seconds</p>
						<br>
	        </div>
	      </div>
{% endblock %}
