{% extends "base.html" %}
{% block title %} Welcome - X Store {% endblock %}
{% block navbar %}
{% include "includes/_navbarBuyer.html" %}
{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}

  <div class="container-fluid content">
    <br>
        {% for i in range(productsList[0]|length) %}
        <div class="row">
          <div class="col-sm-3" style="margin: auto;">
            <img class="img-fluid" style="border: 1px solid black; height: 200px; width: 200px;" src= "{{ productsList[0][i].get_productPicture() }}" alt="">
          </div>

          <div class="col-sm-3">
            <h3><b>{{ productsList[0][i].get_productName() }}</b></h3>
              <p>Price: ${{ "%.2f" % productsList[0][i].get_productPrice() }}</p>
              {% if productsList[0][i].get_productCondition() == "N" %}
              <p>Product Condition: New</p>
              {% elif productsList[0][i].get_productCondition() == "U" %}
              <p>Product Condition: Used</p>
              {% endif %}
            </div>
            <div class="col-sm-3">
              <a href="/buyer/product/{{productsList[0][i].get_productId()}}/"><button class="btn button btn-info" type="button" name="View More">View More</button></a>
            </div>
          <div class="col-sm-3">
            <p><span><b>Quantity:</b></span> {{ productsList[1][i] }}<p>
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}
