{% extends "base.html" %}
{% block title %} Reports {% endblock %}

{% block navbar %}
  {% include "includes/_navbarStaff.html" %}
{% endblock %}


{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <div class="container-fluid content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <p class="text-center"><strong>Yearly (Total)</strong></p>
        </div>
      </div>
      <div class="chart-container">
        <canvas id="myChart" width="200" height="80">
          <p>Your browser does not support canvas</p>
        </canvas>
      </div>
      <div id="table" style="display:block" align = "center">
        <div id="filter">
          <div class="form-inline">
            <div class="form-group">
              <label for="year">Year</label>
              <input class="form-control" id="year" type="number" min="1990" value="">
            </div>
            <button class="btn btn-success" onclick="filter()">Filter</button>
          </div>
        </div>
        <br>
        <div id="reports">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Year</th>
                <th>Total Items Sold</th>
                <th>Total Revenue ($)</th>
                <th>Commission Earned ($)</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody id="report">
            {% for reports in yearlyList %}
              <tr>
                <td id="date">{{ reports.get_reportDate() }}</td>
                <td>{{ reports.get_itemSold() }}</td>
                <td>{{ "%.2f" % reports.get_revenue() }}</td>
                <td>{{ "%.2f" % reports.get_commission() }}</td>
                <td>
                  <form action="{{url_for('reportsDeleteYearly', id=reports.get_reportDate())}}" method="POST">
                    <button class="btn button btn-danger"><strong><u>Delete</u></strong></button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
<script>
  var dateList = [
  {% for reports in yearlyList %}
  "{{ reports.get_reportDate() }}",
  {% endfor %}
  ];
  var filteredDates = [];
  var report = document.getElementById("myChart").getContext("2d");
  if (!Array.isArray(filteredDates) || !filteredDates.length) {
    var char = new Chart(report, {
      // the type of Chart
      type: "bar",

      // the data for our datasets
      data: {
        labels: [
        {% for reports in yearlyList %}
        "{{ reports.get_reportDate() }}",
        {% endfor %}
        ],
        datasets: [{
          label: "Number of items sold",
          data: [
          {% for reports in yearlyList %}
          {{ reports.get_itemSold() }},
          {% endfor %}
          ],
          backgroundColor: "rgba(255, 0, 0, 0.5)"
        }, {
          label: "Average Price Per Item ($)",
          data: [
          {% for reports in yearlyList %}
          {{ reports.get_revenue() }}/{{ reports.get_itemSold() }},
          {% endfor %}
          ],
          backgroundColor: "rgba(11, 156, 49, 0.5)",

        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    })
  }

  function filter() {
    var filteredDates = [];
    // Declare variables
    var dayFilter, monthFilter, yearFilter, tr, td, i, date;
    yearFilter = document.getElementById("year").value;
    report = document.getElementById("report");
    tr = report.getElementsByTagName('tr');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      date = td.innerText.split("/");

      if (yearFilter != "") {
        if (yearFilter == date[0]) {
          tr[i].style.display = "";
          filteredDates.push(tr[i].getElementsByTagName("td")[0].innerText);
        } else {
          tr[i].style.display = "none";
        }
      }
      else if (yearFilter == "") {
        tr[i].style.display = "";
        filteredDates.push(tr[i].getElementsByTagName("td")[0].innerText);
      }
    }
    if (Array.isArray(filteredDates) || filteredDates.length) {
      char.data.labels = filteredDates;
      char.data.datasets[0].data = [];
      char.data.datasets[1].data = [];
      for (var i in filteredDates) {
        {% for reports in yearlyList %}
        if (filteredDates[i] == '{{ reports.get_reportDate() }}' ) {
          char.data.datasets[0].data.push({{ reports.get_itemSold() }});
          char.data.datasets[1].data.push({{ reports.get_revenue() }}/{{ reports.get_itemSold() }});
        }
        {% endfor %}
      }
      char.update();
    }
  }
</script>
{% endblock %}
