{% extends "base.html" %}
{% block title %} Reports {% endblock %}

{% block navbar %}
  {% include "includes/_navbarStaff.html" %}
{% endblock %}


{% block content %}
{% from "includes/_formhelper.html" import render_field %}
    <div class="container-fluid content">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <p class="text-center"><strong>Report Create</strong></p>
        </div>
      </div>
      <div align="center">
        <form method="post" action="">
          <div id="reportsCreate">
            {{ render_field(form.type, class="form-check") }}
          </div>
          <div>
            {{ render_field(form.date, class="form-control") }}
          </div>
          <input type="submit" value="Create" class="button button2">
        </form>
      </div>
    </div>
{% endblock %}
