{% extends "base.html" %}
{% block title %} Reports {% endblock %}

{% block navbar %}
  {% include "includes/_navbarStaff.html" %}
{% endblock %}


{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <div class="container-fluid content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <p class="text-center"><strong>Monthly (Total)</strong></p>
        </div>
      </div>
      <div class="chart-container">
        <canvas id="myChart" width="200" height="80">
          <p>Your browser does not support canvas</p>
        </canvas>
        <script>
          var report = document.getElementById("myChart").getContext("2d");

          var char = new Chart(report, {
            // the type of Chart
            type: "bar",

            // the data for our datasets
            data: {
              labels: [
              {% for reports in monthlyList %}
              "{{ reports.get_reportDate() }}",
              {% endfor %}
              ],
              datasets: [{
                label: "Number of items sold",
                data: [
                {% for reports in monthlyList %}
                {{ reports.get_itemSold() }},
                {% endfor %}
                ],
                backgroundColor: "rgba(255, 0, 0, 0.5)"
              }, {
                label: "Average Price Per Item ($)",
                data: [
                {% for reports in monthlyList %}
                {{ reports.get_revenue() }}/{{ reports.get_itemSold() }},
                {% endfor %}
                ],
                backgroundColor: "rgba(11, 156, 49, 0.5)",

              }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          })
        </script>
      </div>
      <div id="table" style="display:block" align = "center">
        <div id="filter">
          <div class="form-inline">
            <div class="form-group">
              <label for="month">Month</label>
              <input class="form-control" id="month" type="number" min="1" max="12" value="">
            </div>
            <div class="form-group">
              <label for="year">Year</label>
              <input class="form-control" id="year" type="number" min="1990" value="">
            </div>
            <button class="btn btn-success" onclick="filter()">Filter</button>
          </div>
        </div>
        <br>
        <div id="reports">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Month</th>
                <th>Total Items Sold</th>
                <th>Total Revenue ($)</th>
                <th>Commission Earned ($)</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody id="report">
            {% for reports in monthlyList %}
              <tr>
                <td id="date">{{ reports.get_reportDate() }}</td>
                <td>{{ reports.get_itemSold() }}</td>
                <td>{{ "%.2f" % reports.get_revenue() }}</td>
                <td>{{ "%.2f" % reports.get_commission() }}</td>
                <td>
                  <form action="{{url_for('reportsDeleteMonthly', id=reports.get_reportDate().replace('/', '-'))}}" method="POST">
                    <button class="btn button btn-danger"><strong><u>Delete</u></strong></button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
<script>
function filter() {
  // Declare variables
  var dayFilter, monthFilter, yearFilter, tr, td, i, date;
  monthFilter = document.getElementById("month").value;
  yearFilter = document.getElementById("year").value;
  report = document.getElementById("report");
  tr = report.getElementsByTagName('tr');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    date = td.innerText.split("/");
    if (monthFilter.length == 1) {
      monthFilter = "0" + monthFilter;
    }

    if (monthFilter != "" && yearFilter != "") {
      if (monthFilter == date[0] && yearFilter == date[1]) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }


    else if (monthFilter == "" && yearFilter != "") {
      if (yearFilter == date[1]) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }

    else if (monthFilter != "" && yearFilter == "") {
      if (monthFilter == date[0]) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }

    else if (monthFilter == "" && yearFilter == "") {
      tr[i].style.display = "";
    }
  }
}
</script>
{% endblock %}
