{% extends "base.html" %}
{% block title %} Reports {% endblock %}

{% block navbar %}
  {% include "includes/_navbarStaff.html" %}
{% endblock %}


{% block content %}
{% from "includes/_formhelper.html" import render_field %}
    <div class="container-fluid content">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <p class="text-center"><strong>Report Create</strong></p>
        </div>
      </div>
      <div align="center">
        <form method="post" action="">
          <div id="reportsCreate">
            {{ render_field(form.type, class="form-check", onchange="date()") }}
          </div>

          <div id="Report Create Date">
            <div id="dayDiv" style="display: inline-block">
              <div class="form-group" style="display: inline-block">
                {{ render_field(form.day, class="form-control", required="") }}
              </div>
              <label style="display: inline-block">/</label>
            </div>

            <div id="monthDiv" style="display: inline-block">
              <div class="form-group" style="display: inline-block">
                {{ render_field(form.month, class="form-control", required="") }}
              </div>
              <label style="display: inline-block">/</label>
            </div>

            <div id="yearDiv" style="display: inline-block">
              <div class="form-group" style="display: inline-block">
                {{ render_field(form.year, class="form-control") }}
              </div>
            </div>
          </div>
          <input type="submit" value="Create" class="btn button button2" onclick="date()">
        </form>
      </div>
    </div>
<script>
function date() {
  var type, day, month;
  day = document.getElementById("dayDiv");
  month = document.getElementById("monthDiv");
  type = document.forms[0];
  for (var i = 0; i < type.length; i++) {
    if (type[i].checked) {
      type = type[i].value;
      if (type == "D") {
        day.style.display = "inline-block";
        document.getElementById("day").required = true;
        month.style.display = "inline-block";
        document.getElementById("month").required = true;
      }

      else if (type == "M") {
        day.style.display = "none";
        document.getElementById("day").required = false;
        document.getElementById("day").value = "";
        month.style.display = "inline-block";
        document.getElementById("month").required = true;
      }

      else {
        day.style.display = "none";
        document.getElementById("day").required = false;
        document.getElementById("day").value = "";
        month.style.display = "none";
        document.getElementById("month").required = false;
        document.getElementById("month").value = "";
      }
    }
  }
}
</script>
{% endblock %}
