{% extends "base.html" %}
{% block title %} Reports {% endblock %}

{% block navbar %}
  {% include "includes/_navbarStaff.html" %}
{% endblock %}


{% block content %}
    <div class="container-fluid content">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <p class="text-center"><strong>Yearly (Total)</strong></p>
        </div>
      </div>
      <div id="table" style="display:block" align = "center">
        <div class="filter">
          Year:
          <input type="number" name="day" value="day" max="3000" min="0" placeholder="Leave empty for all">
          <button type="button" name="filter" class="button button2">Apply</button>
        </div>
        <br>
        <div id="reports">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Year</th>
                <th>Total Items Sold</th>
                <th>Total Revenue ($)</th>
                <th>Commission Earned ($)</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
            {% for reports in yearlyList %}
              <tr>
                <td>{{ reports.get_reportDate() }}</td>
                <td>{{ reports.get_itemSold() }}</td>
                <td>{{ reports.get_revenue() }}</td>
                <td>{{ reports.get_commission() }}</td>
                <td>
                  <form action="{{url_for('reportsDeleteYearly', id=reports.get_reportDate())}}" method="POST">
                    <button class="btn button button3"><strong><u>Delete</u></strong></button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
