{% extends "base.html" %}
{% block title %} staff orders {% endblock %}

{% block navbar %}
  {% include "includes/_navbarStaff.html" %}
{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}

    <div class="container-fluid content">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <h1 class="text-center"><b>Accounts list</b></h1>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-6">
          <table class="table justify-content-centre text-center">
            <tr>
              <td>Account ID</td>
              <td>Username</td>
              <td>Email</td>
              <td>Type</td>
              <td></td>
              <td></td>
            </tr>
            {% for user in userList %}
            <tr>
              <td>{{ user.getID() }}</td>
              <td>{{ user.getUsername() }}</td>
              <td>{{ user.getEmail() }}</td>
              <td>{{ user.getType() }}</td>
              <td><a href="/staffEdit/{{user.getID()}}" class="btn btn-warning">Update</a></td>
              <td>
                <form action="{{url_for('deleteUser', id=user.getID())}}" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger"onclick="return confirm('Are you sure you want to delete this user?');">
                </form>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
  <script src="js/js.js"></script>
{% endblock %}
