{% extends "base.html" %}
{% block title %} Seller {% endblock %}

{% block navbar %}
  {% include "includes/_navbarSeller.html" %}
{% endblock %}

{% block content %}


<div class="container-fluid content justify-content-center">
  <div class="row">
    <div class="col-sm-3">
      <h2><b>My Products</b></h2>
      <br>
    </div>
  </div>

  {% for product in productsList %}
  <div class="row">
    <div class="col-sm-4 ">
      <img class="img-fluid" style="border: 1px solid black; height: 250px; width: 250px" src= "{{ product.get_productPicture() }}" alt="">
    </div>

    <div class="col-sm-6">
      <h3><b>{{ product.get_productName() }}</b></h3>
      <p>Price: ${{ "%.2f" % product.get_productPrice() }}</p>
      {% if product.get_productCondition() == "N" %}
        <p>Product Condition: New</p>
      {% elif product.get_productCondition() == "U" %}
        <p>Product Condition: Used</p>
      {% endif %}
      <p>Quantity: {{ product.get_productQuantity() }}</p>
      <p>Description: {{ product.get_productDescription() }}</p>
    </div>

    <div class="col-sm-2 " style="margin:auto">
      <a href="/seller/updateProduct/{{product.get_productId()}}/"><button class="btn button btn-primary" type="button" name="Update">Update Product</button></a>
      <a href="/seller/hideProduct/{{product.get_productId()}}/"><button class="btn button btn-danger" type="button" name="Hide Product">Hide Product for Sale</button></a>
    </div>
  </div>
    <br>
    <br>
  {% endfor %}
  {% if not productsList %}
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <p class="text-center">There are currently no products shown to the public.</p>
    </div>
  </div>
  {% endif %}

  {% if hiddenList %}
    <h2><b>Hidden Products</b></h2>
    {% for product in hiddenList %}
    <div class="row">
      <div class="col-sm-4 ">
        <img class="img-fluid" style="border: 1px solid black; height: 250px; width: 250px" src= "{{ product.get_productPicture() }}" alt="">
      </div>

      <div class="col-sm-6">
        <h3><b>{{ product.get_productName() }}</b></h3>
        <p>Price: ${{ product.get_productPrice() }}</p>
        {% if product.get_productCondition() == "N" %}
          <p>Product Condition: New</p>
        {% elif product.get_productCondition() == "U" %}
          <p>Product Condition: Used</p>
        {% endif %}
        <p>Quantity: {{ product.get_productQuantity() }}</p>
        <p>Description: {{ product.get_productDescription() }}</p>
      </div>

      <div class="col-sm-2 " style="margin:auto">
        <a href="/seller/updateProduct/{{product.get_productId()}}/"><button class="btn button btn-primary" type="button" name="Update">Update Product</button></a>
        <a href="/seller/showProduct/{{product.get_productId()}}/"><button class="btn button btn-danger" type="button" name="Show Product">Show Product for Sale</button></a>
      </div>
    </div>
    {% endfor %}
  {% endif %}


</div>
{% endblock %}
