{% extends "base.html" %}
{% block title %} Sign Up - X Store {% endblock %}

{% block content %}
	      <div class="row justify-content-center">
	        <div class="col-sm-12">
	         	<h4 class="text-center">Sign up for X Store</h4>
	        </div>
	      </div>

			<div class="row justify-content-center">
				<div class="col-sm-6">
					<form id="signup" class="form" action="signedup">
						<div class="form-group">
							<label for="username"> Username </label>
							<input type="text" class="form-control" id="username">
						</div>
						<div class="form-group">
							<label for="email"> Email </label>
							<input type="email" class="form-control" id="email">
						</div>
		      			<div class="form-group">
							<label for="passw"> Password </label>
							<input type="password" class="form-control" id="passw">
						</div>
		      			<div class="form-group">
							<label for="staff"> Staff passcode </label>
							<input type="text" class="form-control" id="staff">
						</div>
						<button type="submit" class="btn btn-primary">Sign up</button>
		      		</form>
				</div>
			</div>
{% endblock %}
