{% extends "base.html" %}
{% block title %} staff Orders {% endblock %}

{% block navbar %}
  {% include "includes/_navbarStaff.html" %}
{% endblock %}
{% block content %}

    <div class="container-fluid content">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <h1 class="text-center"><b>Orders page</b></h1>

        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-6">
          <table class="table justify-content-centre text-center">
            <tr>
              <td>Order ID</td>
              <td>Order Date</td>
              <td>Order Description</td>
              <td>status</td>
              <td></td>
            </tr>
            {% for user in userList %}
            <tr>
              <td>{{ user.get_orderId() }}</td>
              <td>{{ user.get_orderDate() }}</td>
              <td>{{ user.get_orderDesc() }}</td>
              <td>{{ user.get_orderStatus() }}</td>
              <td><a href="staffUpdate.html"><button class="btn" style='background-color:blue'>Update</button></a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
  <script src="js/js.js"></script>
{% endblock %}
#this page is half done but its used to display orders
