{% extends "base.html" %}
{% block title %} staff Orders {% endblock %}

{% block navbar %}
  {% include "includes/_navbarStaff.html" %}
{% endblock %}
{% block content %}

    <div class="container-fluid content">
      <div class="row justify-content-center">
          <h1 class="text-center"><b>Orders page</b></h1>
      </div>
      <div id="table">
        <br>
        <div id="orders">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>User ID</th>
                <th>Order Date</th>
                <th>Order Description</th>
                <th>Status</th>
                <th>Order Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for order in orderList %}
              <tr>
                <td>{{ order.get_orderId() }}</td>
                <td>{{ order.get_userID() }}</td>
                <td>{{ order.get_orderDate() }}</td>
                <td>{{ order.get_orderDesc() }}</td>
                <td>{{ order.get_orderStatus() }}</td>
                <td>{{ order.get_orderAddr() }}</td>

                <td><a href="staffUpdate.html"><button class="btn" style='background-color:blue'>Update</button></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <script src="js/js.js"></script>
{% endblock %}
#this page is half done but its used to display orders
