{% extends "base.html" %}
{% block title %} Staff {% endblock %}

{% block navbar %}
  {% include "includes/_navbarStaff.html" %}
{% endblock %}


{% block content %}

    <div class="container-fluid content">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <h1 class="text-center"><b>Staff page</b></h1>

        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-6">
          <p class="text-center">Welcome to the staff dashboard</p>
          <p class="text-center">Price of items sold: #</p>
          <p class="text-center">Commission earned: # </p>
          <p class="text-center">Amount of items sold: #</p>
          <!-- add on stats -->
        </div>
      </div>
    </div>
{% endblock %}
