{% extends "base.html" %}
{% block title %} staff Orders {% endblock %}

{% block navbar %}
  {% include "includes/_navbarStaff.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid content">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <h1 class="text-center"><b>Update Orders Status</b></h1>

        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-6">
          <form class="staffUpdateForm" action="index.html" method="post">
              <div class="form-group">
                <label for="orderStatus"></label>
                <select id="orderStatus" class="form-control">
                  <option selected disabled>Choose</option>
                  <option value="pending">Pending</option>
                  <option value="shipping">Shipping</option>
                  <option value="shipped">Shipped</option>
                  <option value="processing">Processing</option>
                  <option value="delivered">Delivering</option>
                  <option value="completed">Completed</option>
                </select>
              </div>
              <div class="form-group">
                <button type='button' class='btn btn-primary' name='update'>Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  <script src="js/js.js"></script>
{% endblock %}
#this page is unused but its to edit orders
